# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Binaries
bin/*

# Unigen
doalarm
sharpSAT
sharpSAT-bin
unigen
UniGen2.py

errorFormula.cnf
out*
out/*
sat_solver.dimacs*
tempout
unigen_output*
*.zip
